body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.login-background {
  justify-content: center;
  min-height: 30vh;
  padding: 50px;
  background-color: rgb(20, 187, 209);
  background-color: blueviolet;
}
.form {
  justify-content: center;
  background-color: rgb(90, 81, 72);

  min-height: 80vh;
}
.Container {
  background-color: rgb(43, 92, 92);
}
